* {
    margin: 0rem;
    padding: 0rem;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.active {
    color: #D1884F;
}

.flex-container {
    display: flex;
}

ul.flex-container {
    padding-right: 3rem;
    justify-content: flex-end;

}

ul.flex-container li {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 0rem;
}

i {
    padding-right: 1.5rem;
}

section div.space-container {
    padding: 6rem 6rem 0rem 7rem;
    justify-content: space-between;
}

div h1 {
    color: #008AAA;
    font-size: 2.5rem;
}

div h3 {
    color: #3BBADB;
    font-weight: 300;

}

h1 span {
    color: #D1884F;
}

p span {
    color: #3BBADB;
}

div img {
    border-radius: 0px 0px 0px 250px;
    box-shadow: -2em 1em 0em -1em #8bddf1;
    width: 27rem;
    height: 27rem;
    padding-bottom: 0rem;
}

div>* {
    padding-bottom: 2rem;
}

button {
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 0.3rem;

}

button.hire-btn {
    color: #fff;
    background-color: #008AAA;
    width: 7rem;
    border: none;
    box-shadow: 0px 4px #dcf2f7;
    margin-right: 1rem;
    border: 1px solid #008AAA;

}

button.project-btn {
    background-color: #fff;
    color: #008AAA;
    width: 10rem;
    border: 1px solid #008AAA;
    box-shadow: 0px 2px #c1ebf5;
}

p {
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    ul.flex-container {
        width: 100% !important;
        padding: 0px;
        justify-content: space-between;
    }


    .space-container {
        padding: 1rem !important;
    }

    li {
        padding: 0px;
    }

    .img-container {
        display: none;
        /* width: 0px;
        height: 0px; */
    }

}